.button{
    border-radius: 10px;
    overflow: hidden;
    color: var(--white);

    height: 50px;
    width: 200px;

    font-weight: bold;
    font-size : 20px;
    
    display : flex;
}

.button > div{
    transition: all 0.7s;
}

.button > div:hover{
    transform: scale(1.2);
    /* background-color: var(--gray); */
    cursor: pointer;
}

.button .primary{
    background-color : var(--blue);
    height: inherit;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button .dark{
    background-color : var(--black);

    height: inherit;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}