header{
    border-bottom: 5px solid var(--blue);
    margin : 0 0 5vh 0;
    cursor: hand;
}

header > .header-title{
    color : var(--blue);
    font-size : 20px;
    font-weight: bolder;
    gap:150px;
    padding: 30px;
    cursor: hand;
}

header > .header-title > .header-item{
    cursor: pointer;
    animation: none;
}

header > .header-title > .header-item:hover{
    
    cursor: pointer;
    animation: pulse 2s infinite;
}    

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(26, 120, 172, 0.4);
    }
    70% {
      box-shadow: 0 0 0 30px rgba(26, 120, 172, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(26, 120, 172, 0);
    }
  }
